Netflix Shows and Movies Analysis

Importing Libraries:

In [224]:
import pandas as pd
import sqlite3
import numpy as np
import matplotlib.pyplot as plt
import wordcloud

Import First Dataset:

In [225]:
First_imdb_data = pd.read_csv('./ratingsData.csv')
First_imdb_data

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
0,Ariel,movie,"Comedy, Crime, Drama",1988.0,tt0094675,7.4,9237.0,NaN
1,Shadows in Paradise,movie,"Comedy, Drama, Music",1986.0,tt0092149,7.4,8069.0,NaN
2,Forrest Gump,movie,"Drama, Romance",1994.0,tt0109830,8.8,2390861.0,NaN
3,American Beauty,movie,Drama,1999.0,tt0169547,8.3,1252487.0,NaN
4,The Fifth Element,movie,"Action, Adventure, Sci-Fi",1997.0,tt0119116,7.6,528882.0,NaN
...,...,...,...,...,...,...,...,...
21905,Cheat: Unfinished Business,tv,Reality-TV,2025.0,tt32249973,4.9,233.0,NaN
21906,Cold Case: The Tylenol Murders,tv,"Crime, Documentary",2025.0,tt36614653,6.5,2167.0,NaN
21907,NaN,tv,"Animation, Crime, Mystery",1996.0,NaN,NaN,NaN,NaN
21908,NaN,tv,NaN,2014.0,NaN,NaN,NaN,NaN
21909,Entrapped,tv,"Crime, Drama, Mystery",2022.0,tt21964626,7.0,4061.0,NaN

In [226]:
#Making first Panda DataFrame
df = pd.DataFrame(First_imdb_data)

# testing filtering data

In [227]:
filtered_df = df.drop(columns=["availableCountries", "imdbNumVotes", "imdbId"], errors="ignore")

In [228]:
filtered_df.head()

,title,type,genres,releaseYear,imdbAverageRating
0,Ariel,movie,"Comedy, Crime, Drama",1988.0,7.4
1,Shadows in Paradise,movie,"Comedy, Drama, Music",1986.0,7.4
2,Forrest Gump,movie,"Drama, Romance",1994.0,8.8
3,American Beauty,movie,Drama,1999.0,8.3
4,The Fifth Element,movie,"Action, Adventure, Sci-Fi",1997.0,7.6

In [229]:
filtered_df.isnull().sum()

title                 728
type                    0
genres                369
releaseYear            39
imdbAverageRating    1814
dtype: int64

In [230]:
filtered_df.dropna(inplace=True)

In [231]:
filtered_df=filtered_df[filtered_df["genres"]!=83]

In [232]:
filtered_df.head

<bound method NDFrame.head of                                           title   type  \
0                                         Ariel  movie
1                           Shadows in Paradise  movie
2                                  Forrest Gump  movie
3                               American Beauty  movie
4                             The Fifth Element  movie
...                                         ...    ...
21901                               Happy Crush     tv
21902  Fred & Rose West: A British Horror Story     tv
21905                Cheat: Unfinished Business     tv
21906            Cold Case: The Tylenol Murders     tv
21909                                 Entrapped     tv

                          genres  releaseYear  imdbAverageRating
0           Comedy, Crime, Drama       1988.0                7.4
1           Comedy, Drama, Music       1986.0                7.4
2                 Drama, Romance       1994.0                8.8
3                          Drama       1999.0                8.3
4      Action, Adventure, Sci-Fi       1997.0                7.6
...                          ...          ...                ...
21901            Comedy, Romance       2025.0                8.2
21902         Crime, Documentary       2025.0                6.6
21905                 Reality-TV       2025.0                4.9
21906         Crime, Documentary       2025.0                6.5
21909      Crime, Drama, Mystery       2022.0                7.0

[20095 rows x 5 columns]>

In [233]:
filtered_df["genres"].unique()

array(['Comedy, Crime, Drama', 'Comedy, Drama, Music', 'Drama, Romance',
       'Drama', 'Action, Adventure, Sci-Fi', 'Biography, Drama, War',
       'Drama, Western', 'Drama, Romance, Sci-Fi', 'Drama, Thriller',
       'Action, Crime, Drama', 'Drama, Mystery, Romance', 'Drama, Music',
       'Crime, Drama, Thriller', 'Drama, Sport', 'Crime, Drama',
       'Comedy, Sci-Fi', 'Comedy, Drama, Romance', 'Mystery, Thriller',
       'Action, Adventure, Drama', 'Adventure, Animation, Sci-Fi',
       'Adventure, Drama, Horror', 'Action, Adventure',
       'Drama, Music, Romance', 'Action, Comedy, Crime',
       'Action, Crime, Thriller', 'Adventure, Comedy, Sci-Fi',
       'Comedy, Crime', 'Adventure, Comedy, Family',
       'Adventure, Drama, Fantasy', 'Adventure, Animation, Fantasy',
       'Adventure, Animation, Family', 'Adventure, Comedy, Crime',
       'Comedy, Drama, Fantasy', 'Drama, Mystery, Sci-Fi',
       'Animation, Drama, Fantasy', 'Comedy, Drama', 'Crime, Thriller',
       'Horror, Mystery, Thriller', 'Action, Crime, Mystery',
       'Drama, Mystery, Thriller', 'Comedy, Romance', 'Horror, Mystery',
       'Adventure, Comedy, Drama', 'Drama, Fantasy, Romance',
       'Action, Adventure, Romance', 'Crime, Drama, Mystery',
       'Drama, Thriller, War', 'Comedy, Fantasy',
       'Action, Crime, Fantasy', 'Drama, War', 'Biography, Drama, Music',
       'Biography, Drama, History', 'Mystery, Romance, Thriller',
       'Comedy, Drama, History', 'Drama, History',
       'Drama, History, Romance', 'Biography, Drama',
       'Adventure, Drama, Romance', 'Drama, Fantasy',
       'Crime, Drama, Fantasy', 'Action, Adventure, Thriller',
       'Biography, Crime, Drama', 'Adventure, Animation, Comedy',
       'Drama, Horror, Mystery', 'Action, Comedy, Romance',
       'Action, Fantasy, Horror', 'Action, Adventure, Fantasy',
       'Adventure, Drama, History', 'Comedy', 'Action, Sci-Fi',
       'Action, Adventure, Comedy', 'Drama, History, Thriller',
       'Action, Drama', 'Action, Comedy, Fantasy',
       'Comedy, Musical, Romance', 'Adventure, Drama',
       'Drama, Fantasy, Horror', 'Action, Drama, Mystery',
       'Adventure, Family, Fantasy', 'Action, Adventure, Family',
       'Comedy, Horror', 'Action, Drama, Sci-Fi', 'Horror',
       'Adventure, Comedy', 'Action, Fantasy, Thriller', 'Drama, Sci-Fi',
       'Action, Drama, War', 'Comedy, Crime, Fantasy',
       'Action, Drama, History', 'Action, Sci-Fi, Thriller',
       'Comedy, Family, Fantasy', 'Biography, Drama, Romance',
       'Adventure, Drama, Western', 'Action, Horror',
       'Adventure, Biography, Drama', 'Drama, Family',
       'Mystery, Sci-Fi, Thriller', 'Drama, Musical',
       'Drama, Horror, Sci-Fi', 'Drama, Family, Fantasy',
       'Comedy, Family', 'Action, Adventure, Animation',
       'Crime, Drama, Romance', 'Crime, Drama, Horror',
       'Adventure, Drama, Thriller', 'Drama, Fantasy, War',
       'Action, Drama, Romance', 'Horror, Sci-Fi',
       'Comedy, Crime, Musical', 'Action, Horror, Sci-Fi',
       'Comedy, Music', 'Comedy, Romance, Sport',
       'Adventure, Drama, Family', 'Horror, Thriller',
       'Drama, Fantasy, Mystery', 'Drama, Musical, Romance',
       'Action, Drama, Family', 'Fantasy, Mystery, Romance',
       'Drama, Family, Romance', 'Drama, Sci-Fi, Thriller',
       'Action, Biography, Drama', 'Documentary, Sport',
       'Animation, Biography, Drama', 'Action, Crime, Horror',
       'Action, Drama, Sport', 'Drama, Romance, Thriller',
       'Adventure, Fantasy, Romance', 'Action, Drama, Thriller',
       'Action, Mystery, Thriller', 'Action, Thriller',
       'Fantasy, Horror, Mystery', 'Comedy, Drama, Musical',
       'Drama, Romance, War', 'Crime, Drama, Film-Noir',
       'Drama, Horror, Romance', 'Comedy, Drama, Horror',
       'Animation, Comedy, Family', 'Comedy, Horror, Sci-Fi',
       'Action, War', 'Crime, Mystery, Thriller',
       'Animation, Comedy, Drama', 'Comedy, Fantasy, Romance',
       'Comedy, Drama, Family', 'Comedy, Drama, Thriller',
       'Adventure, Comedy, Fantasy', 'Adventure, Romance',
       'Crime, Drama, Music', 'Sci-Fi, Thriller',
       'Biography, Comedy, Crime', 'Thriller', 'Horror, Sci-Fi, Thriller',
       'Fantasy, Horror, Romance', 'Comedy, Romance, Sci-Fi',
       'Biography, Comedy, Drama', 'Action, Comedy', 'Adventure, Family',
       'Biography, Drama, Thriller', 'Drama, Fantasy, Thriller',
       'Adventure, Comedy, Musical', 'Comedy, Crime, Romance',
       'Action, Comedy, Drama', 'Action, Mystery, Sci-Fi',
       'Action, Comedy, Sci-Fi', 'Biography, Drama, Sport',
       'Drama, Horror, Thriller', 'Comedy, Crime, Music',
       'Action, Crime, Sci-Fi', 'Action, Family, Sport',
       'Adventure, Animation, Drama', 'Adventure, Horror, Sci-Fi',
       'Action, Drama, Western', 'Action, Adventure, Crime',
       'Horror, Mystery, Sci-Fi', 'Comedy, Crime, Sport',
       'Crime, Horror, Mystery', 'Action, Animation, Crime',
       'Comedy, Family, Sport', 'Comedy, Family, Romance',
       'Action, Adventure, Horror', 'Adventure, Horror, Thriller',
       'Comedy, Western', 'Action, Comedy, Thriller',
       'Comedy, Music, Romance', 'Animation, Comedy, Fantasy',
       'Action, Thriller, War', 'Comedy, Sport', 'Action, Comedy, Horror',
       'Crime, Drama, Sport', 'Action, Horror, Thriller',
       'Adventure, Fantasy, Horror', 'Comedy, Crime, Mystery', 'Romance',
       'Comedy, War', 'Drama, Romance, Sport', 'Comedy, Mystery',
       'Animation, Crime, Drama', 'Action, Adventure, Mystery',
       'Adventure, Comedy, Mystery', 'Comedy, Horror, Musical',
       'Animation, Comedy, Musical', 'Action, Fantasy, History',
       'Action, Drama, Fantasy', 'Adventure, Documentary, Drama',
       'Comedy, Drama, Sport', 'Drama, Mystery, Western',
       'Action, Comedy, Documentary', 'Animation, Drama, Mystery',
       'Animation, Drama, War', 'Family, Fantasy, Romance', 'Family',
       'Family, Fantasy', 'Biography, Drama, Family',
       'Documentary, Music', 'Action, Animation, Horror',
       'Comedy, Fantasy, Music', 'Action, Biography, Crime',
       'Drama, Horror, Musical', 'Biography, Crime, Documentary',
       'Crime, Documentary', 'Documentary', 'Comedy, Documentary',
       'Animation, Drama, Family', 'Comedy, Drama, War',
       'Animation, Drama, Romance', 'Family, Fantasy, Mystery',
       'Action, Horror, War', 'Adventure, Crime, Drama',
       'Action, Animation, Drama', 'Action', 'Adventure, Drama, Sci-Fi',
       'Animation, Family, Fantasy', 'Adventure, Drama, War',
       'Drama, History, War', 'Action, Animation, Thriller',
       'Action, Comedy, Sport', 'Action, Animation, Fantasy',
       'Action, Comedy, Family', 'Comedy, Horror, Mystery',
       'Adventure, Comedy, Romance', 'Drama, Musical, Sport',
       'Animation, Drama, Sci-Fi', 'Adventure, Horror, Mystery',
       'Drama, Fantasy, Music', 'Documentary, War',
       'Adventure, Animation, Crime', 'Action, Animation, Comedy',
       'Drama, Film-Noir, Mystery', 'Comedy, Crime, Family',
       'Animation, Family', 'Thriller, War', 'Action, Crime',
       'Action, Animation, Sci-Fi', 'Comedy, Short',
       'Action, Biography, History', 'Drama, Horror',
       'Adventure, Fantasy, Sci-Fi', 'Fantasy, Mystery, Sci-Fi',
       'Fantasy, Horror', 'Crime, Documentary, History',
       'Action, Fantasy, Sci-Fi', 'Music', 'Adventure, Comedy, Music',
       'War', 'Action, Drama, Musical', 'Action, History, Thriller',
       'Drama, History, Western', 'Adventure, Sci-Fi',
       'Drama, Fantasy, Short', 'Crime, Documentary, Drama',
       'Adventure, Fantasy, Mystery', 'Fantasy',
       'Comedy, Romance, Thriller', 'Drama, Music, Thriller',
       'Comedy, Fantasy, Horror', 'Action, Documentary, Drama',
       'Adventure, Fantasy', 'Biography, Documentary, History',
       'Comedy, History', 'Biography, Documentary', 'Action, Crime, War',
       'Drama, Sport, Thriller', 'Western', 'Adventure',
       'Drama, Music, Musical', 'Comedy, Fantasy, Sci-Fi',
       'Action, Adventure, Biography', 'Action, Horror, Romance',
       'Fantasy, Music, Musical', 'Action, Romance',
       'Action, Animation, Sport', 'Musical', 'Family, Mystery',
       'Drama, Mystery, War', 'Biography, Drama, Mystery',
       'Crime, Drama, War', 'Action, Adventure, War',
       'Drama, Family, War', 'Drama, Fantasy, Sci-Fi',
       'Animation, Sci-Fi', 'Animation, Biography, Documentary',
       'Comedy, Mystery, Sci-Fi', 'Comedy, Musical',
       'Animation, Drama, History', 'Biography, Documentary, Music',
       'Action, Animation, Mystery', 'Comedy, Drama, Sci-Fi',
       'Drama, History, Mystery', 'Drama, Family, Musical',
       'Romance, Thriller', 'Comedy, Documentary, Music', 'Crime',
       'Adventure, Comedy, History', 'Action, Drama, Horror',
       'Fantasy, Romance', 'Action, Horror, Mystery',
       'Biography, Comedy, History', 'Comedy, Documentary, Family',
       'Documentary, News', 'Drama, Mystery', 'Fantasy, Musical, Romance',
       'Crime, Drama, Musical', 'Biography, Documentary, Short',
       'Animation, Biography, Comedy', 'Crime, Horror',
       'Crime, Horror, Thriller', 'Animation, Documentary, Drama',
       'Action, Biography, Comedy', 'Biography, Drama, Musical',
       'Horror, Short', 'Animation, Drama, Music', 'Action, History',
       'Action, Reality-TV, Sport', 'Crime, Fantasy, Horror',
       'Animation, Drama, Sport', 'Documentary, History',
       'Biography, Comedy, Documentary', 'Crime, Drama, History',
       'Comedy, Horror, Romance', 'Biography, Documentary, Sport',
       'Horror, Mystery, Romance', 'Comedy, Drama, Mystery',
       'Comedy, Mystery, Romance', 'Adventure, Comedy, War',
       'Family, Romance', 'Comedy, Crime, Thriller',
       'Drama, History, Sport', 'Adventure, Drama, Mystery',
       'Biography, Crime, Thriller', 'Action, Fantasy',
       'Music, Musical, Romance', 'Action, Documentary, Sport',
       'Comedy, History, Romance', 'Action, Crime, Romance', 'Sci-Fi',
       'Adventure, Crime', 'Crime, Mystery', 'Comedy, Thriller',
       'Drama, Family, Sport', 'Drama, War, Western',
       'Comedy, Family, Musical', 'Adventure, Documentary',
       'Crime, Mystery, Romance', 'Animation, Fantasy, Music',
       'Mystery, Sci-Fi', 'Biography, Documentary, Drama',
       'Documentary, Drama', 'Documentary, History, Music',
       'Documentary, Drama, Music', 'Comedy, Horror, Music',
       'Drama, Short', 'Animation, Comedy', 'Action, Comedy, Western',
       'Adventure, History, Romance', 'Adventure, Western', 'Animation',
       'Romance, Western', 'Comedy, Musical, Sci-Fi',
       'Animation, Comedy, Horror', 'Fantasy, Horror, Thriller',
       'Comedy, Musical, War', 'Biography, History',
       'Adventure, Family, Mystery', 'Family, Fantasy, Musical',
       'Animation, Fantasy, Mystery', 'Sport',
       'Documentary, Drama, Horror', 'Animation, Family, Romance',
       'Comedy, Music, Sport', 'Adventure, Documentary, Sport',
       'Animation, Mystery, Sci-Fi', 'Drama, Family, History',
       'Adventure, Biography, Documentary', 'Documentary, History, War',
       'Biography, Comedy', 'Comedy, Musical, Sport', 'Mystery',
       'Fantasy, History', 'Drama, History, Music', 'Musical, Romance',
       'Drama, Music, Mystery', 'Animation, Family, Sport',
       'Comedy, Documentary, Drama', 'Musical, War',
       'Horror, Romance, Thriller', 'Animation, Short',
       'Biography, Documentary, Family', 'Comedy, Music, Musical',
       'Action, Documentary', 'Comedy, Documentary, History',
       'Comedy, Romance, War', 'Documentary, Drama, Family',
       'Animation, Comedy, Sci-Fi', 'Animation, Drama, Short',
       'Crime, Drama, Family', 'Action, History, War', 'Animation, Drama',
       'Action, Adventure, Documentary', 'Documentary, Musical',
       'Drama, Horror, Western', 'Animation, Fantasy, Musical',
       'Animation, Drama, Horror', 'Drama, Family, Sci-Fi',
       'Action, Crime, Sport', 'Documentary, Drama, History',
       'Romance, Sci-Fi, Thriller', 'Action, Crime, History',
       'Adventure, Animation', 'Biography, Musical',
       'Animation, Comedy, Romance', 'Comedy, Thriller, War',
       'Action, Biography, Thriller', 'Drama, Family, Music',
       'Crime, Drama, Sci-Fi', 'Animation, Family, Music',
       'Animation, Fantasy, Sci-Fi', 'Biography',
       'Crime, Documentary, Mystery', 'Action, Comedy, Mystery',
       'Comedy, Family, Thriller', 'Biography, Family, Sport',
       'Sci-Fi, Short', 'Action, Sport', 'Documentary, Short',
       'Crime, Mystery, Sci-Fi', 'Documentary, Family',
       'Comedy, Drama, Short', 'Fantasy, Mystery, Thriller',
       'Action, Romance, Thriller', 'Documentary, Short, War',
       'Biography, Fantasy, Horror', 'Crime, Documentary, Sport',
       'Animation, Fantasy, Horror', 'Comedy, Mystery, Thriller',
       'Adventure, Biography, Crime', 'Documentary, Family, History',
       'Comedy, Fantasy, Musical', 'Drama, Thriller, Western',
       'Documentary, Romance', 'Action, Adventure, History', 'History',
       'Reality-TV', 'Drama, Romance, Short', 'Documentary, Short, Sport',
       'Adventure, Documentary, Romance', 'Adventure, Crime, History',
       'Comedy, Crime, Western', 'Adventure, Family, Sci-Fi',
       'Biography, Drama, Western', 'Comedy, Crime, Horror',
       'Fantasy, Music', 'History, War', 'Crime, Documentary, Thriller',
       'Family, Sport', 'Adventure, Comedy, Horror',
       'Documentary, Music, War', 'Drama, Horror, Music',
       'Documentary, History, News', 'Documentary, History, Short',
       'Comedy, Horror, Thriller', 'Family, Music, Romance',
       'Crime, Documentary, Music', 'Drama, Musical, War',
       'History, Horror, Mystery', 'Animation, Fantasy',
       'Adventure, Sci-Fi, Thriller', 'Drama, Family, Short',
       'Action, Animation, Family', 'Documentary, Drama, War',
       'Biography, History, War', 'Action, Fantasy, Romance',
       'Mystery, Romance, Sci-Fi', 'Adventure, Comedy, Thriller',
       'Animation, Documentary', 'History, Sport, Thriller',
       'Comedy, Fantasy, Mystery', 'Documentary, Family, Short',
       'Adventure, Mystery, Sci-Fi', 'Action, Fantasy, Mystery',
       'Comedy, Music, Short', 'Drama, Crime', 'Short', 'Music, Short',
       'Comedy, Reality-TV', 'Adventure, Music', 'Horror, Romance',
       'Drama, Mystery, Short', 'Animation, Music, Sci-Fi',
       'Drama, Short, Thriller', 'Documentary, Drama, Mystery',
       'Biography, Music', 'Animation, Comedy, Short',
       'Adventure, Biography, Comedy', 'Comedy, Romance, Short',
       'Documentary, Drama, Sport', 'Crime, Romance, Thriller',
       'Documentary, Horror, Thriller', 'Biography, Documentary, Romance',
       'Comedy, Music, Mystery', 'Biography, Documentary, War',
       'Animation, Family, Short', 'Drama, Romance, Western',
       'Biography, Short', 'Action, Crime, Documentary',
       'Comedy, History, War', 'Drama, Horror, Short',
       'Animation, Family, Musical', 'Family, Fantasy, Horror',
       'Animation, Family, Horror', 'Crime, Drama, Western',
       'Documentary, Drama, Short', 'Family, Short',
       'Adventure, Thriller', 'Talk-Show', 'Biography, Music, Romance',
       'Drama, Sci-Fi, Short', 'Music, Romance',
       'Comedy, Fantasy, Reality-TV', 'Animation, Crime, Mystery',
       'Biography, History, Romance', 'Documentary, Mystery',
       'Animation, Documentary, Short', 'Horror, Music, Mystery',
       'Musical, Short', 'Fantasy, Horror, Short', 'Music, Musical',
       'Adventure, Short', 'Comedy, Family, Music',
       'Horror, Short, Thriller', 'Musical, Thriller',
       'Animation, Documentary, History', 'Documentary, Sci-Fi',
       'Action, Romance, Short', 'Animation, Music',
       'Crime, Drama, Romance, Comedy', 'Family, Sci-Fi',
       'Adventure, Documentary, History', 'Documentary, History, Sport',
       'History, Mystery, Thriller', 'Comedy, Fantasy, History',
       'Mystery, Romance', 'Animation, Romance',
       'Fantasy, Sci-Fi, Thriller', 'Animation, Comedy, Music',
       'Fantasy, Short', 'Crime, Documentary, Short',
       'Drama, Fantasy, History', 'Animation, Game-Show',
       'Animation, Comedy, Mystery', 'Action, Romance, Sci-Fi',
       'Adventure, Family, Musical', 'Adventure, Drama, Sport',
       'Short, Thriller', 'Adventure, Crime, Horror', 'Action, Short',
       'Family, Animation', 'Crime, Documentary, Horror',
       'Animation, Crime, Documentary', 'Documentary, Music, Short',
       'Game-Show, Reality-TV, Sport', 'Family, Music',
       'Animation, Mystery, Romance', 'History, Thriller, War',
       'Comedy, Talk-Show', 'Documentary, Game-Show, Reality-TV',
       'Romance, Comedy', 'Game-Show, Reality-TV', 'Thriller, Action',
       'Comedy, Horror, Short', 'Reality-TV, Thriller',
       'Comedy, Music, Talk-Show', 'Drama, Family, Mystery',
       'Adventure, Documentary, Reality-TV', 'Reality-TV, Romance',
       'Family, Reality-TV', 'Documentary, Reality-TV',
       'Action, Mystery, Romance', 'Fantasy, History, Sci-Fi',
       'Comedy, Game-Show, Reality-TV', 'Game-Show, Music, Reality-TV',
       'Action, Game-Show, Reality-TV', 'Action, History, Romance',
       'Animation, Sport, Thriller', 'Animation, Comedy, Sport',
       'Documentary, Family, Reality-TV', 'Comedy, Family, Short',
       'History, Horror, Romance', 'Animation, Comedy, Crime',
       'Documentary, Reality-TV, Romance', 'Action, Animation, History',
       'Comedy, Family, Talk-Show', 'Animation, Sport',
       'Crime, Action & Adventure', 'Comedy, Game-Show',
       'Adventure, Family, Music', 'Documentary, Talk-Show',
       'Crime, Documentary, Reality-TV', 'Drama, Reality-TV', 'Game-Show',
       'Animation, Drama, Thriller', 'Documentary, Reality-TV, Sport',
       'Documentary, Reality-TV, Talk-Show',
       'Documentary, History, Reality-TV', 'Fantasy, History, Romance',
       'Animation, Family, Mystery', 'Comedy, Horror, Talk-Show',
       'Documentary, Mystery, Reality-TV', 'Action, Comedy, History',
       'Music, Reality-TV', 'Horror, Reality-TV',
       'Comedy, News, Talk-Show', 'Romance, Sci-Fi', 'History, Thriller',
       'Adventure, Reality-TV', 'Crime, Fantasy, Romance',
       'Comedy, Game-Show, Talk-Show', 'Game-Show, Sport',
       'Comedy, Horror, Reality-TV', 'Crime, Family, Sci-Fi',
       'Adventure, Family, Romance', 'Adventure, Drama, Musical',
       'Fantasy, Thriller', 'Horror, Mystery, Reality-TV',
       'Comedy, Documentary, Musical',
       'Adventure, Documentary, Game-Show', 'Documentary, Game-Show',
       'Documentary, Family, News', 'Game-Show, Music',
       'Animation, Comedy, Documentary', 'Family, Talk-Show',
       'Horror, Mystery, Short', 'Fantasy, History, Horror',
       'Animation, Documentary, Sci-Fi', 'Animation, Fantasy, Romance',
       'Drama, Comedy', 'Family, Game-Show', 'Crime, Drama, Short',
       'Game-Show, Reality-TV, Romance', 'Reality-TV, Sport',
       'Comedy, Romance, Talk-Show', 'Fantasy, Romance, Thriller',
       'Animation, Fantasy, History', 'Comedy, Fantasy, Thriller',
       'Horror, Sci-Fi, Short', 'Family, Mystery, Sci-Fi',
       'Comedy, Sci-Fi, Western', 'Biography, Reality-TV',
       'Animation, Music, Musical', 'Adventure, Game-Show, Mystery',
       'Documentary, Horror', 'Animation, Biography, Family',
       'Comedy, Game-Show, Horror', 'Adventure, Game-Show, Reality-TV',
       'Drama, Fantasy, Musical', 'Action, Adventure, Reality-TV',
       'Crime, Game-Show, Reality-TV', 'Family, Music, Reality-TV',
       'Biography, Comedy, Music', 'Action, Animation',
       'History, Romance', 'Documentary, Drama, Western',
       'Action & Adventure, Comedy', 'Game-Show, Mystery, Reality-TV'],
      dtype=object)

In [234]:
df["releaseYear"].unique()

array([1988., 1986., 1994., 1999., 1997., 2005., 1992., 2004., 2000.,
       2002., 1998., 1996., 1995., 1984., 2003., 1981., 1987., 1989.,
       1976., 1985., 1983., 2001., 1993., 1982., 2008., 2014., 1990.,
       2006., 1972., 1974., 1971., 1991., 2007., 1945., 1968., 1964.,
       1963., 1958., 1960., 1955., 1956., 1957., 1951., 1975., 1980.,
       2009., 1950., 1954., 1979., 1978., 1969., 1966., 1953., 1973.,
       1977., 1962., 1965., 1967., 2012., 1959., 1970., 1961., 2013.,
       1952., 1948., 1946., 2010., 2011., 1932., 1942., 1929., 1937.,
       1939., 1919., 1943., 1938., 1949., 2021., 1947., 1928., 1931.,
       2020., 2016., 1936., 2017., 2022., 2024., 2023., 2018., 2015.,
       2025., 2019., 1920., 1926., 1935., 1918., 1940., 1944., 1917.,
       1934., 1941., 1913., 1923., 1933., 1930., 1921.,   nan])

In [235]:
df["imdbAverageRating"].unique()

array([7.4, 8.8, 8.3, 7.6, 7. , 8.2, 8. , 7.9, 7.2, 8.1, 7.7, 8.5, 6.4,
       8.4, 5.8, 7.5, 7.1, 6.6, 7.8, 6.7, 8.9, 9. , 8.6, 6.9, 6.5, 6.2,
       9.2, 7.3, 9.3, 5.5, 6.8, 5.9, 6. , 5.7, 8.7, 5.4, 6.3, 3.7, 6.1,
       5.1, 5. , 5.3, 5.6, 3.8, 5.2, 4.7, 4.5, 3.3, 3.6, 2.5, 2.7, 4.9,
       4. , 4.6, 4.8, 4.2, 4.4, 4.3, 4.1, 2.8, 3.4, 3.9, 3.2, 3.5, 3. ,
       2.6, 3.1, nan, 1.8, 2.9, 2.2, 1.5, 2.4, 1.2, 1. , 1.9, 2. , 2.1,
       1.7, 2.3, 9.4, 9.8, 9.5, 9.1])

#Let's see if the release year is in the 2010s
#def is_from_2000s(year: [int64]) -> bool:
#    if pd.isna(year):
        return False
#    return 2000 <= year <= 2025
#def is_from_2000s = (def['release_Year'].apply(is_from_2000s))
#merged_data

In [236]:
def is_from_2000s(year: int) -> bool:
    """Return True if the given year is between 2000 and 2009."""
    return 2000 <= year <= 2009

In [237]:
# Looking at the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21910 entries, 0 to 21909
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               21182 non-null  object
 1   type                21910 non-null  object
 2   genres              21541 non-null  object
 3   releaseYear         21871 non-null  float64
 4   imdbId              20274 non-null  object
 5   imdbAverageRating   20096 non-null  float64
 6   imdbNumVotes        20096 non-null  float64
 7   availableCountries  154 non-null    object
dtypes: float64(3), object(5)
memory usage: 1.3+ MB

In [238]:
print(df.head)

<bound method NDFrame.head of                                 title   type                     genres  \
0                               Ariel  movie       Comedy, Crime, Drama
1                 Shadows in Paradise  movie       Comedy, Drama, Music
2                        Forrest Gump  movie             Drama, Romance
3                     American Beauty  movie                      Drama
4                   The Fifth Element  movie  Action, Adventure, Sci-Fi
...                               ...    ...                        ...
21905      Cheat: Unfinished Business     tv                 Reality-TV
21906  Cold Case: The Tylenol Murders     tv         Crime, Documentary
21907                             NaN     tv  Animation, Crime, Mystery
21908                             NaN     tv                        NaN
21909                       Entrapped     tv      Crime, Drama, Mystery

       releaseYear      imdbId  imdbAverageRating  imdbNumVotes  \
0           1988.0   tt0094675                7.4        9237.0
1           1986.0   tt0092149                7.4        8069.0
2           1994.0   tt0109830                8.8     2390861.0
3           1999.0   tt0169547                8.3     1252487.0
4           1997.0   tt0119116                7.6      528882.0
...            ...         ...                ...           ...
21905       2025.0  tt32249973                4.9         233.0
21906       2025.0  tt36614653                6.5        2167.0
21907       1996.0         NaN                NaN           NaN
21908       2014.0         NaN                NaN           NaN
21909       2022.0  tt21964626                7.0        4061.0

      availableCountries
0                    NaN
1                    NaN
2                    NaN
3                    NaN
4                    NaN
...                  ...
21905                NaN
21906                NaN
21907                NaN
21908                NaN
21909                NaN

[21910 rows x 8 columns]>

In [239]:
print(df.tail())

                                title type                     genres  \
21905      Cheat: Unfinished Business   tv                 Reality-TV
21906  Cold Case: The Tylenol Murders   tv         Crime, Documentary
21907                             NaN   tv  Animation, Crime, Mystery
21908                             NaN   tv                        NaN
21909                       Entrapped   tv      Crime, Drama, Mystery

       releaseYear      imdbId  imdbAverageRating  imdbNumVotes  \
21905       2025.0  tt32249973                4.9         233.0
21906       2025.0  tt36614653                6.5        2167.0
21907       1996.0         NaN                NaN           NaN
21908       2014.0         NaN                NaN           NaN
21909       2022.0  tt21964626                7.0        4061.0

      availableCountries
21905                NaN
21906                NaN
21907                NaN
21908                NaN
21909                NaN

In [240]:
#df.info()

In [241]:
#df.describe

In [242]:
#df.dtypes

In [243]:
#df.drop(columns=["availableCountries", "imdbNumVotes", "imdbId"], inplace=True)

In [244]:
df.rename(columns={'releaseYear': 'Year_Released', 'imdbAverageRating': 'IMDB Score'}, inplace=True)

In [245]:
#df.sort_values(by='title', ascending=False)

In [246]:
df = df.dropna().reset_index(drop=True)

In [247]:
df

,title,type,genres,Year_Released,imdbId,IMDB Score,imdbNumVotes,availableCountries
0,Like Stars on Earth,movie,"Drama, Family",2007.0,tt0986264,8.3,219524.0,TZ
1,Jaane Tu... Ya Jaane Na,movie,"Comedy, Drama, Romance",2008.0,tt0473367,7.4,28977.0,TZ
2,Lagaan: Once Upon a Time in India,movie,"Drama, Musical, Sport",2001.0,tt0169102,8.1,124775.0,TZ
3,QuerÃ´: A Damned Report,movie,Drama,2007.0,tt0945383,6.8,436.0,"BR, PT"
4,Captain Underpants: Epic Choice-o-Rama,movie,"Action, Adventure, Animation",2020.0,tt11604750,5.8,205.0,"AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, BE..."
...,...,...,...,...,...,...,...,...
99,The Woman in the Septic Tank 3: The Real Untol...,tv,"Comedy, Romance",2019.0,tt10573750,7.1,73.0,PH
100,Trivia Quest,tv,"Adventure, Animation, Family",2022.0,tt18393972,5.7,282.0,"AD, AG, AO, AR, AT, AU, AZ, BA, BB, BG, BM, BO..."
101,Battle Kitty,tv,"Action, Adventure, Animation",2022.0,tt10050740,6.1,373.0,"AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, BE..."
102,Sunshine Eyes,tv,Drama,2023.0,tt16026154,6.9,12.0,"AT, DE, LI"
103,Das Boot - Die komplette TV-Serie,tv,"Drama, War",1987.0,tt30970892,8.9,256.0,"AT, CH, DE, LI"

Stats:	Count = Non-nan values, 
mean = average value, 
std = standard deviation, 
min = smallest value,
volume percentages with median at 50%

In [248]:
df['Year_Released'] = df['Year_Released'].astype('int64')

In [249]:
# Counting number of NaNs (Missing or undefined value) in Different Columns
print(df.isna().sum())

title                 0
type                  0
genres                0
Year_Released         0
imdbId                0
IMDB Score            0
imdbNumVotes          0
availableCountries    0
dtype: int64

In [250]:
#remove select columns
df = df.drop(columns=["availableCountries", "imdbNumVotes"])

# Displays remaining columns after dropping 6

In [251]:
df.head

<bound method NDFrame.head of                                                  title   type  \
0                                  Like Stars on Earth  movie
1                              Jaane Tu... Ya Jaane Na  movie
2                    Lagaan: Once Upon a Time in India  movie
3                               QuerÃ´: A Damned Report  movie
4               Captain Underpants: Epic Choice-o-Rama  movie
..                                                 ...    ...
99   The Woman in the Septic Tank 3: The Real Untol...     tv
100                                       Trivia Quest     tv
101                                       Battle Kitty     tv
102                                      Sunshine Eyes     tv
103                  Das Boot - Die komplette TV-Serie     tv

                           genres  Year_Released      imdbId  IMDB Score
0                   Drama, Family           2007   tt0986264         8.3
1          Comedy, Drama, Romance           2008   tt0473367         7.4
2           Drama, Musical, Sport           2001   tt0169102         8.1
3                           Drama           2007   tt0945383         6.8
4    Action, Adventure, Animation           2020  tt11604750         5.8
..                            ...            ...         ...         ...
99                Comedy, Romance           2019  tt10573750         7.1
100  Adventure, Animation, Family           2022  tt18393972         5.7
101  Action, Adventure, Animation           2022  tt10050740         6.1
102                         Drama           2023  tt16026154         6.9
103                    Drama, War           1987  tt30970892         8.9

[104 rows x 6 columns]>

In [252]:
df = df.dropna().reset_index(drop=True)

In [253]:
#consistent column names 
df.rename(columns={'releaseYear': 'Year_Released', 'listed_in': 'Genres', 'title': 'Title', 'type': 'Type', 'imdbId': 'IMDB Score'}, inplace=True)

Import Data:

In [254]:
Second_netflix_data = pd.read_csv('./netflix_titles.csv')
Second_netflix_data

,Unnamed: 0,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,titles,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,25-Sep-21,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,titles,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,24-Sep-21,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,titles,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,24-Sep-21,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,titles,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,24-Sep-21,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,titles,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,24-Sep-21,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,titles,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,20-Nov-19,2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,titles,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,1-Jul-19,2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,titles,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,1-Nov-19,2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,titles,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,11-Jan-20,2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,titles,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2-Mar-19,2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [255]:
#Making first Panda DataFrame
df2 = pd.DataFrame(Second_netflix_data)

Clean Data

In [256]:
#Dropping NaN values for second data set
df2 = df2.dropna().reset_index(drop=True)

In [257]:
print(df2.dtypes)

Unnamed: 0      object
show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [258]:
print(df2.head())

  Unnamed: 0 show_id     type                          title  \
0     titles      s8    Movie                        Sankofa
1     titles      s9  TV Show  The Great British Baking Show
2     titles     s10    Movie                   The Starling
3     titles     s13    Movie                   Je Suis Karl
4     titles     s25    Movie                          Jeans

              director                                               cast  \
0         Haile Gerima  Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...
1      Andy Devonshire  Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...
2       Theodore Melfi  Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...
3  Christian Schwochow  Luna Wedler, Jannis NiewÃ¶hner, Milan Peschel, ...
4           S. Shankar  Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...

                                             country date_added  release_year  \
0  United States, Ghana, Burkina Faso, United Kin...  24-Sep-21          1993
1                                     United Kingdom  24-Sep-21          2021
2                                      United States  24-Sep-21          2021
3                            Germany, Czech Republic  23-Sep-21          2021
4                                              India  21-Sep-21          1998

  rating   duration                                         listed_in  \
0  TV-MA    125 min  Dramas, Independent Movies, International Movies
1  TV-14  9 Seasons                      British TV Shows, Reality TV
2  PG-13    104 min                                  Comedies, Dramas
3  TV-MA    127 min                      Dramas, International Movies
4  TV-14    166 min   Comedies, International Movies, Romantic Movies

                                         description
0  On a photo shoot in Ghana, an American model s...
1  A talented batch of amateur bakers face off in...
2  A woman adjusting to life after a loss contend...
3  After most of her family is murdered in a terr...
4  When the father of the man she loves insists t...

In [259]:
print(df2.tail())

     Unnamed: 0 show_id   type       title         director  \
5327     titles   s8802  Movie     Zinzana  Majid Al Ansari
5328     titles   s8803  Movie      Zodiac    David Fincher
5329     titles   s8805  Movie  Zombieland  Ruben Fleischer
5330     titles   s8806  Movie        Zoom     Peter Hewitt
5331     titles   s8807  Movie      Zubaan      Mozez Singh

                                                   cast  \
5327  Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...
5328  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...
5329  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...
5330  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...
5331  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...

                           country date_added  release_year rating duration  \
5327  United Arab Emirates, Jordan   9-Mar-16          2015  TV-MA   96 min
5328                 United States  20-Nov-19          2007      R  158 min
5329                 United States   1-Nov-19          2009      R   88 min
5330                 United States  11-Jan-20          2006     PG   88 min
5331                         India   2-Mar-19          2015  TV-14  111 min

                                           listed_in  \
5327         Dramas, International Movies, Thrillers
5328                  Cult Movies, Dramas, Thrillers
5329                         Comedies, Horror Movies
5330              Children & Family Movies, Comedies
5331  Dramas, International Movies, Music & Musicals

                                            description
5327  Recovering alcoholic Talal wakes up inside a s...
5328  A political cartoonist, a crime reporter and a...
5329  Looking to survive in a world taken over by zo...
5330  Dragged from civilian life, a former superhero...
5331  A scrappy but poor boy worms his way into a ty...

In [260]:
#consistent column names 
df2.rename (columns={'release_year': 'Year_Released', 'listed_in': 'Genres', 'title': 'Title', 'type': 'Type', 'rating': 'Rating', 'duration': 'Duration', 'description': 'Description'}, inplace=True)

In [261]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5332 entries, 0 to 5331
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     5332 non-null   object
 1   show_id        5332 non-null   object
 2   Type           5332 non-null   object
 3   Title          5332 non-null   object
 4   director       5332 non-null   object
 5   cast           5332 non-null   object
 6   country        5332 non-null   object
 7   date_added     5332 non-null   object
 8   Year_Released  5332 non-null   int64
 9   Rating         5332 non-null   object
 10  Duration       5332 non-null   object
 11  Genres         5332 non-null   object
 12  Description    5332 non-null   object
dtypes: int64(1), object(12)
memory usage: 541.7+ KB

In [262]:
df2.describe()

       Year_Released
count    5332.000000
mean     2012.742123
std         9.625831
min      1942.000000
25%      2011.000000
50%      2016.000000
75%      2018.000000
max      2021.000000

In [263]:
df.to_csv('ratings.csv', index=False)

In [264]:
df2.to_csv('netflix.csv', index=False)

In [265]:
import sqlite3

In [266]:
df.head()

,Title,Type,genres,Year_Released,IMDB Score,IMDB Score
0,Like Stars on Earth,movie,"Drama, Family",2007,tt0986264,8.3
1,Jaane Tu... Ya Jaane Na,movie,"Comedy, Drama, Romance",2008,tt0473367,7.4
2,Lagaan: Once Upon a Time in India,movie,"Drama, Musical, Sport",2001,tt0169102,8.1
3,QuerÃ´: A Damned Report,movie,Drama,2007,tt0945383,6.8
4,Captain Underpants: Epic Choice-o-Rama,movie,"Action, Adventure, Animation",2020,tt11604750,5.8

In [267]:
df2.tail()

,Unnamed: 0,show_id,Type,Title,director,cast,country,date_added,Year_Released,Rating,Duration,Genres,Description
5327,titles,s8802,Movie,Zinzana,Majid Al Ansari,"Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...","United Arab Emirates, Jordan",9-Mar-16,2015,TV-MA,96 min,"Dramas, International Movies, Thrillers",Recovering alcoholic Talal wakes up inside a s...
5328,titles,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,20-Nov-19,2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
5329,titles,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,1-Nov-19,2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
5330,titles,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,11-Jan-20,2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
5331,titles,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2-Mar-19,2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [268]:
conn = sqlite3.connect('merged_data.db')
cursor = conn.cursor()

In [269]:
df = pd.read_csv('ratings.csv')
df2 = pd.read_csv('netflix.csv')

In [270]:
#Creating table called 'ratings'
cursor.execute("""
CREATE TABLE IF NOT EXISTS ratings (Title TEXT PRIMARY KEY,
    Type TEXT NOT NULL,
    Genres TEXT NOT NULL,
    Year Released INTEGER NOT NULL,
    IMDB Score REAL NOT NULL);""")


df.to_sql("ratings", conn, if_exists="replace", index=False)


print("ratings table:\n")
pd.read_sql_query("SELECT * FROM ratings", conn)

ratings table:

,Title,Type,genres,Year_Released,IMDB Score,IMDB Score.1
0,Like Stars on Earth,movie,"Drama, Family",2007,tt0986264,8.3
1,Jaane Tu... Ya Jaane Na,movie,"Comedy, Drama, Romance",2008,tt0473367,7.4
2,Lagaan: Once Upon a Time in India,movie,"Drama, Musical, Sport",2001,tt0169102,8.1
3,QuerÃ´: A Damned Report,movie,Drama,2007,tt0945383,6.8
4,Captain Underpants: Epic Choice-o-Rama,movie,"Action, Adventure, Animation",2020,tt11604750,5.8
...,...,...,...,...,...,...
99,The Woman in the Septic Tank 3: The Real Untol...,tv,"Comedy, Romance",2019,tt10573750,7.1
100,Trivia Quest,tv,"Adventure, Animation, Family",2022,tt18393972,5.7
101,Battle Kitty,tv,"Action, Adventure, Animation",2022,tt10050740,6.1
102,Sunshine Eyes,tv,Drama,2023,tt16026154,6.9
103,Das Boot - Die komplette TV-Serie,tv,"Drama, War",1987,tt30970892,8.9

In [271]:
#PRAGMA optimize;
#runs the automatic index analysis and optimization process which helps SQLite to make better decisions and table

In [272]:
#Creating table called 'netflix'
cursor.execute("""
CREATE TABLE IF NOT EXISTS netflix (
    type TEXT NOT NULL,
    title TEXT PRIMARY KEY,
    Year Released INTEGER NOT NULL,
    rating TEXT NOT Null,
    duration TEXT NOT NULL,
    Genre TEXT NOT NULL,
    description TEXT NOT NULL)
   ;""")

In [273]:
#insert data to nexflix table
df2.to_sql("netflix", conn, if_exists="replace", index=False)

5332

In [274]:
#verify data was inserted
print("netflix table:\n")
print(pd.read_sql_query("SELECT * FROM netflix", conn))

netflix table:

     Unnamed: 0 show_id     Type                          Title  \
0        titles      s8    Movie                        Sankofa
1        titles      s9  TV Show  The Great British Baking Show
2        titles     s10    Movie                   The Starling
3        titles     s13    Movie                   Je Suis Karl
4        titles     s25    Movie                          Jeans
...         ...     ...      ...                            ...
5327     titles   s8802    Movie                        Zinzana
5328     titles   s8803    Movie                         Zodiac
5329     titles   s8805    Movie                     Zombieland
5330     titles   s8806    Movie                           Zoom
5331     titles   s8807    Movie                         Zubaan

                 director                                               cast  \
0            Haile Gerima  Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...
1         Andy Devonshire  Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...
2          Theodore Melfi  Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...
3     Christian Schwochow  Luna Wedler, Jannis NiewÃ¶hner, Milan Peschel, ...
4              S. Shankar  Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...
...                   ...                                                ...
5327      Majid Al Ansari  Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...
5328        David Fincher  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...
5329      Ruben Fleischer  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...
5330         Peter Hewitt  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...
5331          Mozez Singh  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...

                                                country date_added  \
0     United States, Ghana, Burkina Faso, United Kin...  24-Sep-21
1                                        United Kingdom  24-Sep-21
2                                         United States  24-Sep-21
3                               Germany, Czech Republic  23-Sep-21
4                                                 India  21-Sep-21
...                                                 ...        ...
5327                       United Arab Emirates, Jordan   9-Mar-16
5328                                      United States  20-Nov-19
5329                                      United States   1-Nov-19
5330                                      United States  11-Jan-20
5331                                              India   2-Mar-19

      Year_Released Rating   Duration  \
0              1993  TV-MA    125 min
1              2021  TV-14  9 Seasons
2              2021  PG-13    104 min
3              2021  TV-MA    127 min
4              1998  TV-14    166 min
...             ...    ...        ...
5327           2015  TV-MA     96 min
5328           2007      R    158 min
5329           2009      R     88 min
5330           2006     PG     88 min
5331           2015  TV-14    111 min

                                                Genres  \
0     Dramas, Independent Movies, International Movies
1                         British TV Shows, Reality TV
2                                     Comedies, Dramas
3                         Dramas, International Movies
4      Comedies, International Movies, Romantic Movies
...                                                ...
5327           Dramas, International Movies, Thrillers
5328                    Cult Movies, Dramas, Thrillers
5329                           Comedies, Horror Movies
5330                Children & Family Movies, Comedies
5331    Dramas, International Movies, Music & Musicals

                                            Description
0     On a photo shoot in Ghana, an American model s...
1     A talented batch of amateur bakers face off in...
2     A woman adjusting to life after a loss contend...
3     After most of her family is murdered in a terr...
4     When the father of the man she loves insists t...
...                                                 ...
5327  Recovering alcoholic Talal wakes up inside a s...
5328  A political cartoonist, a crime reporter and a...
5329  Looking to survive in a world taken over by zo...
5330  Dragged from civilian life, a former superhero...
5331  A scrappy but poor boy worms his way into a ty...

[5332 rows x 13 columns]

In [275]:
def query(query: str):
    return pd.read_sql(query, conn)

In [276]:
all_ratings = """ SELECT * FROM ratings
    LIMIT 5;"""

In [277]:
query(all_ratings)

,Title,Type,genres,Year_Released,IMDB Score,IMDB Score.1
0,Like Stars on Earth,movie,"Drama, Family",2007,tt0986264,8.3
1,Jaane Tu... Ya Jaane Na,movie,"Comedy, Drama, Romance",2008,tt0473367,7.4
2,Lagaan: Once Upon a Time in India,movie,"Drama, Musical, Sport",2001,tt0169102,8.1
3,QuerÃ´: A Damned Report,movie,Drama,2007,tt0945383,6.8
4,Captain Underpants: Epic Choice-o-Rama,movie,"Action, Adventure, Animation",2020,tt11604750,5.8

In [278]:
all_netflix = """SELECT * FROM netflix
    LIMIT 5;"""

In [279]:
query(all_netflix)

,Unnamed: 0,show_id,Type,Title,director,cast,country,date_added,Year_Released,Rating,Duration,Genres,Description
0,titles,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...",24-Sep-21,1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
1,titles,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,24-Sep-21,2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
2,titles,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,24-Sep-21,2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...
3,titles,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis NiewÃ¶hner, Milan Peschel, ...","Germany, Czech Republic",23-Sep-21,2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...
4,titles,s25,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,21-Sep-21,1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...

#joining ratings table and netflix table

In [280]:
joined_tables = """SELECT *
                FROM ratings
                LEFT JOIN netflix
                on ratings.Title = netflix.Title
                LIMIT 5;
                """

In [281]:
query(joined_tables)

,Title,Type,genres,Year_Released,IMDB Score,IMDB Score.1,Unnamed: 0,show_id,Type,Title,director,cast,country,date_added,Year_Released,Rating,Duration,Genres,Description
0,Like Stars on Earth,movie,"Drama, Family",2007,tt0986264,8.3,None,None,None,None,None,None,None,None,NaN,None,None,None,None
1,Jaane Tu... Ya Jaane Na,movie,"Comedy, Drama, Romance",2008,tt0473367,7.4,titles,s1019,Movie,Jaane Tu... Ya Jaane Na,Abbas Tyrewala,"Imran Khan, Genelia D'Souza, Manjari Fadnis, A...",India,17-Apr-21,2008.0,TV-14,147 min,"Comedies, International Movies, Music & Musicals",Soft-spoken Jai and spitfire beauty Aditi coul...
2,Lagaan: Once Upon a Time in India,movie,"Drama, Musical, Sport",2001,tt0169102,8.1,None,None,None,None,None,None,None,None,NaN,None,None,None,None
3,QuerÃ´: A Damned Report,movie,Drama,2007,tt0945383,6.8,None,None,None,None,None,None,None,None,NaN,None,None,None,None
4,Captain Underpants: Epic Choice-o-Rama,movie,"Action, Adventure, Animation",2020,tt11604750,5.8,None,None,None,None,None,None,None,None,NaN,None,None,None,None

#conn = sqlite3.connect('df2')
#query = "SELECT * FROM joined_tables;"
#df = pd.read_sql_query(query, conn)

In [282]:
#import matplot

In [283]:
best_director = pd.read_sql_query

In [284]:
best_director = """ SELECT Title, director, Year_Released 
    FROM joined_tables
    WHERE director IS NOT NULL
    ORDER BY
        Title,
        director ASC,
        Year_Released DESC
    LIMIT 10;
    """

In [ ]:
SELECT genre, Title, Rating, Year_Released
    FROM joined_tables
    WHERE Title is not null
    ORDER BY Year_Released DESC
    LIMIT 10

In [ ]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS ratings(
Title TEXT NOT NULL,
duration))

In [ ]:
#SELECT *
#FROM TABLE
#WHERE Title

Visualizations

In [ ]:
#Histogram of IMDB Scores
plt.figure(figsize=(8,5))
sns.histplot(merged_data['IMDB Score'], bins=20, kde=True, color='skyblue')
plt.title('Distribution of IMDB Scores')
plt.xlabel('IMDB Score')
plt.ylabel('Number of Movies')
plt.show()

In [ ]:
#Scatter Plot of Year Released vs IMDB Score
merged_data_reset = merged_data.reset_index(drop=True)


plt.figure(figsize=(8,5))
sns.scatterplot(data=merged_data_reset, x='Year Released', y='IMDB Score', alpha=0.6)
plt.title('Year Released vs IMDb Score')
plt.xlabel('Year Released')
plt.ylabel('IMDb Score')
plt.show()

In [ ]:
#Filter valid ratings
#valid_ratings = ['TV-MA', 'TV-14', 'TV-Y7', 'PG', 'G', 'R', 'TV-PG', 'NR', 'TV-G', 'TV-Y', 'PG-13', 'TV-Y7-FV', 'UR', 'NC-17']
#filtered_data = merged_data[merged_data['rating'].isin(valid_ratings)]

# Count number of movies by year and rating
#counts = filtered_data.groupby(['Year Released', 'rating']).size().unstack(fill_value=0)

# Plot stacked bar chart (you can also do side-by-side with kind='bar')
counts.plot(kind='bar', stacked=True, figsize=(15,7), width=0.8)
plt.title('Number of Movies by Rating Over Years')
plt.xlabel('Year Released')
plt.ylabel('Number of Movies')
plt.legend(title='Rating', bbox_to_anchor=(1.05, 1), loc='upper left')
plt.tight_layout()
plt.show()

In [ ]:
#WordCloud for Genre
##If you use this visualization, be sure to explain the code for it
all_genres = merged_data['genres'].dropna().str.cat(sep=', ')
#Remove extra spaces and split by comma
all_genres_cleaned = ' '.join([genre.strip() for genre in all_genres.split(',')])

wordcloud = WordCloud(width=800, height=400, background_color='white').generate(all_genres_cleaned)
plt.figure(figsize=(15,7.5))
plt.imshow(wordcloud, interpolation='bilinear')
plt.axis('off')
plt.title('Genre Word Cloud')
plt.show()