Netflix Shows and Movies Analysis

Libraries:

In [417]:
import pandas as pd
import sqlite3
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from wordcloud import WordCloud

Import First Dataset:

In [418]:
First_imdb_data = pd.read_csv('./ratingsData.csv')
First_imdb_data

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
0,Ariel,movie,"Comedy, Crime, Drama",1988.0,tt0094675,7.4,9237.0,NaN
1,Shadows in Paradise,movie,"Comedy, Drama, Music",1986.0,tt0092149,7.4,8069.0,NaN
2,Forrest Gump,movie,"Drama, Romance",1994.0,tt0109830,8.8,2390861.0,NaN
3,American Beauty,movie,Drama,1999.0,tt0169547,8.3,1252487.0,NaN
4,The Fifth Element,movie,"Action, Adventure, Sci-Fi",1997.0,tt0119116,7.6,528882.0,NaN
...,...,...,...,...,...,...,...,...
21905,Cheat: Unfinished Business,tv,Reality-TV,2025.0,tt32249973,4.9,233.0,NaN
21906,Cold Case: The Tylenol Murders,tv,"Crime, Documentary",2025.0,tt36614653,6.5,2167.0,NaN
21907,NaN,tv,"Animation, Crime, Mystery",1996.0,NaN,NaN,NaN,NaN
21908,NaN,tv,NaN,2014.0,NaN,NaN,NaN,NaN
21909,Entrapped,tv,"Crime, Drama, Mystery",2022.0,tt21964626,7.0,4061.0,NaN

In [419]:
#Making first Panda DataFrame
df = pd.DataFrame(First_imdb_data)

In [420]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21910 entries, 0 to 21909
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               21182 non-null  object
 1   type                21910 non-null  object
 2   genres              21541 non-null  object
 3   releaseYear         21871 non-null  float64
 4   imdbId              20274 non-null  object
 5   imdbAverageRating   20096 non-null  float64
 6   imdbNumVotes        20096 non-null  float64
 7   availableCountries  154 non-null    object
dtypes: float64(3), object(5)
memory usage: 1.3+ MB

#Displaying first 5 rows and last 5 rows of Data Frame

In [421]:
df.head()

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
0,Ariel,movie,"Comedy, Crime, Drama",1988.0,tt0094675,7.4,9237.0,NaN
1,Shadows in Paradise,movie,"Comedy, Drama, Music",1986.0,tt0092149,7.4,8069.0,NaN
2,Forrest Gump,movie,"Drama, Romance",1994.0,tt0109830,8.8,2390861.0,NaN
3,American Beauty,movie,Drama,1999.0,tt0169547,8.3,1252487.0,NaN
4,The Fifth Element,movie,"Action, Adventure, Sci-Fi",1997.0,tt0119116,7.6,528882.0,NaN

In [422]:
df.tail()

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
21905,Cheat: Unfinished Business,tv,Reality-TV,2025.0,tt32249973,4.9,233.0,NaN
21906,Cold Case: The Tylenol Murders,tv,"Crime, Documentary",2025.0,tt36614653,6.5,2167.0,NaN
21907,NaN,tv,"Animation, Crime, Mystery",1996.0,NaN,NaN,NaN,NaN
21908,NaN,tv,NaN,2014.0,NaN,NaN,NaN,NaN
21909,Entrapped,tv,"Crime, Drama, Mystery",2022.0,tt21964626,7.0,4061.0,NaN

In [423]:
## Structure of Dataset
df.describe

<bound method NDFrame.describe of                                 title   type                     genres  \
0                               Ariel  movie       Comedy, Crime, Drama
1                 Shadows in Paradise  movie       Comedy, Drama, Music
2                        Forrest Gump  movie             Drama, Romance
3                     American Beauty  movie                      Drama
4                   The Fifth Element  movie  Action, Adventure, Sci-Fi
...                               ...    ...                        ...
21905      Cheat: Unfinished Business     tv                 Reality-TV
21906  Cold Case: The Tylenol Murders     tv         Crime, Documentary
21907                             NaN     tv  Animation, Crime, Mystery
21908                             NaN     tv                        NaN
21909                       Entrapped     tv      Crime, Drama, Mystery

       releaseYear      imdbId  imdbAverageRating  imdbNumVotes  \
0           1988.0   tt0094675                7.4        9237.0
1           1986.0   tt0092149                7.4        8069.0
2           1994.0   tt0109830                8.8     2390861.0
3           1999.0   tt0169547                8.3     1252487.0
4           1997.0   tt0119116                7.6      528882.0
...            ...         ...                ...           ...
21905       2025.0  tt32249973                4.9         233.0
21906       2025.0  tt36614653                6.5        2167.0
21907       1996.0         NaN                NaN           NaN
21908       2014.0         NaN                NaN           NaN
21909       2022.0  tt21964626                7.0        4061.0

      availableCountries
0                    NaN
1                    NaN
2                    NaN
3                    NaN
4                    NaN
...                  ...
21905                NaN
21906                NaN
21907                NaN
21908                NaN
21909                NaN

[21910 rows x 8 columns]>

# Showing how many missing values (NaN or None) for each column

In [424]:
print(df.isna().sum())

title                   728
type                      0
genres                  369
releaseYear              39
imdbId                 1636
imdbAverageRating      1814
imdbNumVotes           1814
availableCountries    21756
dtype: int64

#Remove NANs and change column titles

In [425]:
##Clean Data 1 - IMDB
#remove select columns
clean_imdb_data = df.drop(columns=["availableCountries", "imdbNumVotes", "imdbId"], inplace=True)

In [426]:
print(df)
# Shows the drop columns have been removed

                                title   type                     genres  \
0                               Ariel  movie       Comedy, Crime, Drama
1                 Shadows in Paradise  movie       Comedy, Drama, Music
2                        Forrest Gump  movie             Drama, Romance
3                     American Beauty  movie                      Drama
4                   The Fifth Element  movie  Action, Adventure, Sci-Fi
...                               ...    ...                        ...
21905      Cheat: Unfinished Business     tv                 Reality-TV
21906  Cold Case: The Tylenol Murders     tv         Crime, Documentary
21907                             NaN     tv  Animation, Crime, Mystery
21908                             NaN     tv                        NaN
21909                       Entrapped     tv      Crime, Drama, Mystery

       releaseYear  imdbAverageRating
0           1988.0                7.4
1           1986.0                7.4
2           1994.0                8.8
3           1999.0                8.3
4           1997.0                7.6
...            ...                ...
21905       2025.0                4.9
21906       2025.0                6.5
21907       1996.0                NaN
21908       2014.0                NaN
21909       2022.0                7.0

[21910 rows x 5 columns]

In [427]:
#consistent column names
clean_imdb_data = df.rename(columns={'releaseYear': 'Year Released', 'imdbAverageRating': 'IMDB Score', 'title' : 'Title','type': 'Type', 'genres': 'Genres'}, inplace=True)
clean_imdb_data
#clean_imdb_data

In [428]:
df = df.dropna()

In [429]:
print(df)

                                          Title   Type  \
0                                         Ariel  movie
1                           Shadows in Paradise  movie
2                                  Forrest Gump  movie
3                               American Beauty  movie
4                             The Fifth Element  movie
...                                         ...    ...
21901                               Happy Crush     tv
21902  Fred & Rose West: A British Horror Story     tv
21905                Cheat: Unfinished Business     tv
21906            Cold Case: The Tylenol Murders     tv
21909                                 Entrapped     tv

                          Genres  Year Released  IMDB Score
0           Comedy, Crime, Drama         1988.0         7.4
1           Comedy, Drama, Music         1986.0         7.4
2                 Drama, Romance         1994.0         8.8
3                          Drama         1999.0         8.3
4      Action, Adventure, Sci-Fi         1997.0         7.6
...                          ...            ...         ...
21901            Comedy, Romance         2025.0         8.2
21902         Crime, Documentary         2025.0         6.6
21905                 Reality-TV         2025.0         4.9
21906         Crime, Documentary         2025.0         6.5
21909      Crime, Drama, Mystery         2022.0         7.0

[20095 rows x 5 columns]

In [430]:
df.dtypes

Title             object
Type              object
Genres            object
Year Released    float64
IMDB Score       float64
dtype: object

In [431]:
#Sorting Titles Alphabetically - Foreign Characters last
df.sort_values(by='Title', ascending=True)

,Title,Type,Genres,Year Released,IMDB Score
16245,#AAY,movie,Comedy,2024.0,6.4
10623,#Alive,movie,"Action, Drama, Horror",2020.0,6.3
10559,#Anne Frank Parallel Stories,movie,"Documentary, Drama, History",2019.0,6.6
18914,#BlackAF,tv,Comedy,2020.0,6.8
9568,#Female Pleasure,movie,Documentary,2018.0,7.5
...,...,...,...,...,...
9839,Éternel conflit,movie,Drama,1948.0,5.8
12910,Így vagy tökéletes,movie,"Comedy, Drama, Romance",2021.0,6.2
8099,Órbita 9,movie,"Drama, Sci-Fi, Thriller",2017.0,5.9
20783,Ôoku: The Inner Chambers,tv,"Animation, Drama, Fantasy",2023.0,7.1
13955,Ôpun Marijji aru Fûfu no Katachi,movie,Drama,2018.0,5.4

In [432]:
#Removing duplicate Titles
df=df.drop_duplicates(subset='Title', keep='first')

Importing second data set - Data looks good - Need to handle NaN and capitalize column headings

In [433]:
Second_netflix_data = pd.read_csv('./netflix_titles.csv')
Second_netflix_data

,Unnamed: 0,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,titles,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,25-Sep-21,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,titles,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,24-Sep-21,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,titles,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,24-Sep-21,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,titles,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,24-Sep-21,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,titles,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,24-Sep-21,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,titles,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,20-Nov-19,2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,titles,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,1-Jul-19,2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,titles,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,1-Nov-19,2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,titles,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,11-Jan-20,2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,titles,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2-Mar-19,2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [434]:
df2 = pd.DataFrame(Second_netflix_data)

In [435]:
print(df2.head())

  Unnamed: 0 show_id     type                  title         director  \
0     titles      s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1     titles      s2  TV Show          Blood & Water              NaN
2     titles      s3  TV Show              Ganglands  Julien Leclercq
3     titles      s4  TV Show  Jailbirds New Orleans              NaN
4     titles      s5  TV Show           Kota Factory              NaN

                                                cast        country  \
0                                                NaN  United States
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                NaN            NaN
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India

  date_added  release_year rating   duration  \
0  25-Sep-21          2020  PG-13     90 min
1  24-Sep-21          2021  TV-MA  2 Seasons
2  24-Sep-21          2021  TV-MA   1 Season
3  24-Sep-21          2021  TV-MA   1 Season
4  24-Sep-21          2021  TV-MA  2 Seasons

                                           listed_in  \
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...

                                         description
0  As her father nears the end of his life, filmm...
1  After crossing paths at a party, a Cape Town t...
2  To protect his family from a powerful drug lor...
3  Feuds, flirtations and toilet talk go down amo...
4  In a city of coaching centers known to train I...

In [436]:
print(df2.tail())

     Unnamed: 0 show_id     type        title         director  \
8802     titles   s8803    Movie       Zodiac    David Fincher
8803     titles   s8804  TV Show  Zombie Dumb              NaN
8804     titles   s8805    Movie   Zombieland  Ruben Fleischer
8805     titles   s8806    Movie         Zoom     Peter Hewitt
8806     titles   s8807    Movie       Zubaan      Mozez Singh

                                                   cast        country  \
8802  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...  United States
8803                                                NaN            NaN
8804  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...  United States
8805  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...  United States
8806  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...          India

     date_added  release_year rating   duration  \
8802  20-Nov-19          2007      R    158 min
8803   1-Jul-19          2018  TV-Y7  2 Seasons
8804   1-Nov-19          2009      R     88 min
8805  11-Jan-20          2006     PG     88 min
8806   2-Mar-19          2015  TV-14    111 min

                                           listed_in  \
8802                  Cult Movies, Dramas, Thrillers
8803          Kids' TV, Korean TV Shows, TV Comedies
8804                         Comedies, Horror Movies
8805              Children & Family Movies, Comedies
8806  Dramas, International Movies, Music & Musicals

                                            description
8802  A political cartoonist, a crime reporter and a...
8803  While living alone in a spooky town, a young g...
8804  Looking to survive in a world taken over by zo...
8805  Dragged from civilian life, a former superhero...
8806  A scrappy but poor boy worms his way into a ty...

In [437]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    8807 non-null   object
 1   show_id       8807 non-null   object
 2   type          8807 non-null   object
 3   title         8807 non-null   object
 4   director      6173 non-null   object
 5   cast          7982 non-null   object
 6   country       7976 non-null   object
 7   date_added    8797 non-null   object
 8   release_year  8807 non-null   int64
 9   rating        8803 non-null   object
 10  duration      8804 non-null   object
 11  listed_in     8807 non-null   object
 12  description   8807 non-null   object
dtypes: int64(1), object(12)
memory usage: 894.6+ KB

In [438]:
# Statistical Summary of DF Numeric Columns
df2.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

Stats:	Count = Non-nan values, mean = average value, std = standard deviation, min = smallest value, volume percentages with median at 50%

In [439]:
# Counting number of NaNs (Missing or undefined value) in Different Columns
print(df2.isna().sum())

Unnamed: 0         0
show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [440]:
#remove select columns
df2 = df2.drop(columns=["Unnamed: 0", "show_id", "cast", "country", "date_added", "director"])
df2.head
# Displayes remaining columns after dropping 6

<bound method NDFrame.head of          type                  title  release_year rating   duration  \
0       Movie   Dick Johnson Is Dead          2020  PG-13     90 min
1     TV Show          Blood & Water          2021  TV-MA  2 Seasons
2     TV Show              Ganglands          2021  TV-MA   1 Season
3     TV Show  Jailbirds New Orleans          2021  TV-MA   1 Season
4     TV Show           Kota Factory          2021  TV-MA  2 Seasons
...       ...                    ...           ...    ...        ...
8802    Movie                 Zodiac          2007      R    158 min
8803  TV Show            Zombie Dumb          2018  TV-Y7  2 Seasons
8804    Movie             Zombieland          2009      R     88 min
8805    Movie                   Zoom          2006     PG     88 min
8806    Movie                 Zubaan          2015  TV-14    111 min

                                              listed_in  \
0                                         Documentaries
1       International TV Shows, TV Dramas, TV Mysteries
2     Crime TV Shows, International TV Shows, TV Act...
3                                Docuseries, Reality TV
4     International TV Shows, Romantic TV Shows, TV ...
...                                                 ...
8802                     Cult Movies, Dramas, Thrillers
8803             Kids' TV, Korean TV Shows, TV Comedies
8804                            Comedies, Horror Movies
8805                 Children & Family Movies, Comedies
8806     Dramas, International Movies, Music & Musicals

                                            description
0     As her father nears the end of his life, filmm...
1     After crossing paths at a party, a Cape Town t...
2     To protect his family from a powerful drug lor...
3     Feuds, flirtations and toilet talk go down amo...
4     In a city of coaching centers known to train I...
...                                                 ...
8802  A political cartoonist, a crime reporter and a...
8803  While living alone in a spooky town, a young g...
8804  Looking to survive in a world taken over by zo...
8805  Dragged from civilian life, a former superhero...
8806  A scrappy but poor boy worms his way into a ty...

[8807 rows x 7 columns]>

In [441]:
#consistent column names 
df2.rename (columns={'release_year': 'Year Released', 'listed_in': 'Genres'}, inplace=True)

In [442]:
#Dropping NaN values for second data set
df2 = df2.dropna().reset_index(drop=True)

In [443]:
print(df2.head())

      type                  title  Year Released rating   duration  \
0    Movie   Dick Johnson Is Dead           2020  PG-13     90 min
1  TV Show          Blood & Water           2021  TV-MA  2 Seasons
2  TV Show              Ganglands           2021  TV-MA   1 Season
3  TV Show  Jailbirds New Orleans           2021  TV-MA   1 Season
4  TV Show           Kota Factory           2021  TV-MA  2 Seasons

                                              Genres  \
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...

                                         description
0  As her father nears the end of his life, filmm...
1  After crossing paths at a party, a Cape Town t...
2  To protect his family from a powerful drug lor...
3  Feuds, flirtations and toilet talk go down amo...
4  In a city of coaching centers known to train I...

In [444]:
print(df2.tail())

         type        title  Year Released rating   duration  \
8795    Movie       Zodiac           2007      R    158 min
8796  TV Show  Zombie Dumb           2018  TV-Y7  2 Seasons
8797    Movie   Zombieland           2009      R     88 min
8798    Movie         Zoom           2006     PG     88 min
8799    Movie       Zubaan           2015  TV-14    111 min

                                              Genres  \
8795                  Cult Movies, Dramas, Thrillers
8796          Kids' TV, Korean TV Shows, TV Comedies
8797                         Comedies, Horror Movies
8798              Children & Family Movies, Comedies
8799  Dramas, International Movies, Music & Musicals

                                            description
8795  A political cartoonist, a crime reporter and a...
8796  While living alone in a spooky town, a young g...
8797  Looking to survive in a world taken over by zo...
8798  Dragged from civilian life, a former superhero...
8799  A scrappy but poor boy worms his way into a ty...

In [445]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8800 entries, 0 to 8799
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   type           8800 non-null   object
 1   title          8800 non-null   object
 2   Year Released  8800 non-null   int64
 3   rating         8800 non-null   object
 4   duration       8800 non-null   object
 5   Genres         8800 non-null   object
 6   description    8800 non-null   object
dtypes: int64(1), object(6)
memory usage: 481.4+ KB

In [446]:
df2.describe()

       Year Released
count    8800.000000
mean     2014.179886
std         8.822583
min      1925.000000
25%      2013.000000
50%      2017.000000
75%      2019.000000
max      2021.000000

In [447]:
df.to_csv('ratings.csv', index=False)

In [448]:
df2.to_csv('netflix.csv', index=False)

Merge Data

The merge concantenate will stack the DataFrames together

merged_data = pd.concat([df, df2])
merged_data

##Remove NaNs from Merged DataFrame

merged_data[['rating']] = merged_data[['rating']].fillna('-')

merged_data[['IMDB Score']] = merged_data[['IMDB Score']].fillna('-')

merged_data[['duration']] = merged_data[['duration']].fillna('-')

merged_data[['description']] = merged_data[['description']].fillna('-')

merged_data[['Title']] = merged_data[['Title']].fillna('-')

merged_data[['Type']] = merged_data[['Type']].fillna('-')

print("Data types after conversion")
print(merged_data.dtypes)

#Remove duplicates

merged_data = merged_data.sort_values(by='description', ascending=False

merged_data = merged_data.drop_duplicates(subset='title', keep='first')

merged_data

# Capitatlize columns names that were in lower case
merged_data.rename(columns={
    'title' : 'Title',
    'type': 'Type', 
    'genres': 'Genres', 
    'rating' : 'Rating',
    'duration' : 'Duration', 
    'description' : 'Description'}, inplace=True)
merged_data

In [449]:
import sqlite3

In [450]:
df2.head()

,type,title,Year Released,rating,duration,Genres,description
0,Movie,Dick Johnson Is Dead,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,TV Show,Blood & Water,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,TV Show,Ganglands,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,TV Show,Jailbirds New Orleans,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,TV Show,Kota Factory,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [451]:
conn = sqlite3.connect('merged_data.db')
cursor = conn.cursor()

In [452]:
df = pd.read_csv('ratings.csv')
df2 = pd.read_csv('netflix.csv')
#DO NOT TOUCH

In [453]:
#Creating table called 'Ratings'
cursor.execute("""
CREATE TABLE IF NOT EXISTS ratings (Title TEXT PRIMARY KEY,
    Type TEXT NOT NULL,
    Genres TEXT NOT NULL,
    Year Released INTEGER NOT NULL,
    IMDB Score REAL NOT NULL);""")


df.to_sql("ratings", conn, if_exists="replace", index=False)


print("ratings table:\n")
pd.read_sql_query("SELECT * FROM ratings", conn)
#DO NOT TOUCH

ratings table:

,Title,Type,Genres,Year Released,IMDB Score
0,Ariel,movie,"Comedy, Crime, Drama",1988.0,7.4
1,Shadows in Paradise,movie,"Comedy, Drama, Music",1986.0,7.4
2,Forrest Gump,movie,"Drama, Romance",1994.0,8.8
3,American Beauty,movie,Drama,1999.0,8.3
4,The Fifth Element,movie,"Action, Adventure, Sci-Fi",1997.0,7.6
...,...,...,...,...,...
19370,Happy Crush,tv,"Comedy, Romance",2025.0,8.2
19371,Fred & Rose West: A British Horror Story,tv,"Crime, Documentary",2025.0,6.6
19372,Cheat: Unfinished Business,tv,Reality-TV,2025.0,4.9
19373,Cold Case: The Tylenol Murders,tv,"Crime, Documentary",2025.0,6.5
19374,Entrapped,tv,"Crime, Drama, Mystery",2022.0,7.0

In [ ]:
#Creating table called 'netflix'
cursor.execute("""
CREATE TABLE IF NOT EXISTS netflix (
    type TEXT NOT NULL,
    title TEXT PRIMARY KEY,
    Year Released INTEGER NOT NULL,
    rating TEXT NOT Null,
    duration TEXT NOT NULL,
    Genre TEXT NOT NULL,
    description TEXT NOT NULL)
   ;""")


df2.to_sql("netflix", conn, if_exists="replace", index=False)


print("netflix table:\n")
pd.read_sql_query("SELECT * FROM netflix", conn)

netflix table:

,type,title,Year Released,rating,duration,Genres,description
0,Movie,Dick Johnson Is Dead,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,TV Show,Blood & Water,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,TV Show,Ganglands,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,TV Show,Jailbirds New Orleans,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,TV Show,Kota Factory,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...
8795,Movie,Zodiac,2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8796,TV Show,Zombie Dumb,2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8797,Movie,Zombieland,2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8798,Movie,Zoom,2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8799,Movie,Zubaan,2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [455]:
df2.head()

,type,title,Year Released,rating,duration,Genres,description
0,Movie,Dick Johnson Is Dead,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,TV Show,Blood & Water,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,TV Show,Ganglands,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,TV Show,Jailbirds New Orleans,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,TV Show,Kota Factory,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

Visualizations