Netflix Shows and Movies Analysis

Importing Libraries:

In [ ]:
import pandas as pd
import sqlite3
import numpy as np
import matplotlib.pyplot as plt
import wordcloud

Import First Dataset:

In [ ]:
First_imdb_data = pd.read_csv('./ratingsData.csv')
First_imdb_data

In [ ]:
#Making first Panda DataFrame
df = pd.DataFrame(First_imdb_data)

# testing filtering data

In [ ]:
filtered_df = df.drop(columns=["availableCountries", "imdbNumVotes", "imdbId"], errors="ignore")

In [ ]:
filtered_df.head()

In [ ]:
filtered_df.isnull().sum()

In [ ]:
filtered_df.dropna(inplace=True)

In [ ]:
filtered_df=filtered_df[filtered_df["genres"]!=83]

In [ ]:
filtered_df["genres"].unique()

In [ ]:
df["releaseYear"].unique()

In [ ]:
df["imdbAverageRating"].unique()

#Let's see if the release year is in the 2010s
#def is_from_2000s(year: [int64]) -> bool:
#    if pd.isna(year):
        return False
#    return 2000 <= year <= 2025
#def is_from_2000s = (def['release_Year'].apply(is_from_2000s))
#merged_data

In [ ]:
def is_from_2000s(year: int) -> bool:
    """Return True if the given year is between 2000 and 2009."""
    return 2000 <= year <= 2009

In [ ]:
# Looking at the dataset
df.info()

In [ ]:
print(df.head)

In [ ]:
print(df.tail())

In [ ]:
#df.info()

In [ ]:
#df.describe

In [ ]:
#df.dtypes

In [ ]:
#df.drop(columns=["availableCountries", "imdbNumVotes", "imdbId"], inplace=True)

In [ ]:
df.rename(columns={'releaseYear': 'Year Released', 'imdbAverageRating': 'IMDB Score'}, inplace=True)

In [ ]:
df.sort_values(by='title', ascending=False)

In [ ]:
df = df.dropna().reset_index(drop=True)

In [ ]:
df

Stats:	Count = Non-nan values, 
mean = average value, 
std = standard deviation, 
min = smallest value,
volume percentages with median at 50%

In [ ]:
df['Year Released'] = df['Year Released'].astype('int64')

In [ ]:
# Counting number of NaNs (Missing or undefined value) in Different Columns
print(df.isna().sum())

In [ ]:
#remove select columns
df = df.drop(columns=["availableCountries", "imdbNumVotes"])

# Displays remaining columns after dropping 6

In [ ]:
df.head

In [ ]:
df = df.dropna().reset_index(drop=True)

In [ ]:
#consistent column names 
df.rename(columns={'releaseYear': 'Year Released', 'listed_in': 'Genres', 'title': 'Title', 'type': 'Type', 'imdbId': 'IMDB Score'}, inplace=True)

Import Data:

In [ ]:
Second_netflix_data = pd.read_csv('./netflix_titles.csv')
Second_netflix_data

In [ ]:
#Making first Panda DataFrame
df2 = pd.DataFrame(Second_netflix_data)

Clean Data

In [ ]:
#Dropping NaN values for second data set
df2 = df2.dropna().reset_index(drop=True)

In [ ]:
print(df2.dtypes)

In [ ]:
print(df2.head())

In [ ]:
print(df2.tail())

In [ ]:
#consistent column names 
df2.rename (columns={'release_year': 'Year Released', 'listed_in': 'Genres', 'title': 'Title', 'type': 'Type', 'rating': 'Rating', 'duration': 'Duration', 'description': 'Description'}, inplace=True)

In [ ]:
df2.info()

In [ ]:
df2.describe()

In [ ]:
df.to_csv('ratings.csv', index=False)

In [ ]:
df2.to_csv('netflix.csv', index=False)

In [ ]:
import sqlite3

In [ ]:
df.head()

In [ ]:
df2.tail()

In [ ]:
conn = sqlite3.connect('merged_data.db')
cursor = conn.cursor()

In [ ]:
df = pd.read_csv('ratings.csv')
df2 = pd.read_csv('netflix.csv')

In [ ]:
#Creating table called 'ratings'
cursor.execute("""
CREATE TABLE IF NOT EXISTS ratings (Title TEXT PRIMARY KEY,
    Type TEXT NOT NULL,
    Genres TEXT NOT NULL,
    Year Released INTEGER NOT NULL,
    IMDB Score REAL NOT NULL);""")


df.to_sql("ratings", conn, if_exists="replace", index=False)


print("ratings table:\n")
pd.read_sql_query("SELECT * FROM ratings", conn)

In [ ]:
#PRAGMA optimize;
#runs the automatic index analysis and optimization process which helps SQLite to make better decisions and table

In [ ]:
#Creating table called 'netflix'
cursor.execute("""
CREATE TABLE IF NOT EXISTS netflix (
    type TEXT NOT NULL,
    title TEXT PRIMARY KEY,
    Year Released INTEGER NOT NULL,
    rating TEXT NOT Null,
    duration TEXT NOT NULL,
    Genre TEXT NOT NULL,
    description TEXT NOT NULL)
   ;""")

In [ ]:
#insert data to nexflix table
df2.to_sql("netflix", conn, if_exists="replace", index=False)

In [ ]:
#verify data was inserted
print("netflix table:\n")
print(pd.read_sql_query("SELECT * FROM netflix", conn))

In [ ]:
def query(query: str):
    return pd.read_sql(query, conn)

In [ ]:
all_ratings = """ SELECT * FROM ratings
    LIMIT 5;"""

In [ ]:
query(all_ratings)

In [ ]:
all_netflix = """SELECT * FROM netflix
    LIMIT 5;"""

In [ ]:
query(all_netflix)

#joining ratings table and netflix table

In [ ]:
joined_tables = """SELECT *
                FROM ratings
                LEFT JOIN netflix
                on ratings.Title = netflix.Title
                LIMIT 5;
                """

In [ ]:
query(joined_tables)

#df2.head()

#conn = sqlite3.connect('df2')
#query = "SELECT * FROM joined_tables;"
#df = pd.read_sql_query(query, conn)

In [ ]:
#import matplot

In [ ]:
best_director = pd.read_sql_query

In [ ]:
best_director = """ SELECT Title, director, Year_Released 
    FROM joined_tables
    WHERE director IS NOT NULL
    ORDER BY
        Title,
        director ASC,
        Year_Released DESC
    LIMIT 10;
    """

In [ ]:
                query(best_director)

In [ ]:
#SELECT *
#FROM TABLE
#WHERE Title

Visualizations