Netflix Shows and Movies Analysis

Libraries:

In [1]:
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns
from wordcloud import WordCloud

Import Data:

In [2]:
First_imdb_data = pd.read_csv('./ratingsData.csv')
First_imdb_data

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
0,Ariel,movie,"Comedy, Crime, Drama",1988.0,tt0094675,7.4,9237.0,NaN
1,Shadows in Paradise,movie,"Comedy, Drama, Music",1986.0,tt0092149,7.4,8069.0,NaN
2,Forrest Gump,movie,"Drama, Romance",1994.0,tt0109830,8.8,2390861.0,NaN
3,American Beauty,movie,Drama,1999.0,tt0169547,8.3,1252487.0,NaN
4,The Fifth Element,movie,"Action, Adventure, Sci-Fi",1997.0,tt0119116,7.6,528882.0,NaN
...,...,...,...,...,...,...,...,...
21905,Cheat: Unfinished Business,tv,Reality-TV,2025.0,tt32249973,4.9,233.0,NaN
21906,Cold Case: The Tylenol Murders,tv,"Crime, Documentary",2025.0,tt36614653,6.5,2167.0,NaN
21907,NaN,tv,"Animation, Crime, Mystery",1996.0,NaN,NaN,NaN,NaN
21908,NaN,tv,NaN,2014.0,NaN,NaN,NaN,NaN
21909,Entrapped,tv,"Crime, Drama, Mystery",2022.0,tt21964626,7.0,4061.0,NaN

In [3]:
df = pd.DataFrame(First_imdb_data)

In [10]:
df['releaseYear'] = df['releaseYear'].astype('Int64')

In [11]:
print(df.head())

                 title   type                     genres  releaseYear  \
0                Ariel  movie       Comedy, Crime, Drama         1988
1  Shadows in Paradise  movie       Comedy, Drama, Music         1986
2         Forrest Gump  movie             Drama, Romance         1994
3      American Beauty  movie                      Drama         1999
4    The Fifth Element  movie  Action, Adventure, Sci-Fi         1997

      imdbId  imdbAverageRating  imdbNumVotes availableCountries
0  tt0094675                7.4        9237.0                NaN
1  tt0092149                7.4        8069.0                NaN
2  tt0109830                8.8     2390861.0                NaN
3  tt0169547                8.3     1252487.0                NaN
4  tt0119116                7.6      528882.0                NaN

In [12]:
print(df.tail())

                                title type                     genres  \
21905      Cheat: Unfinished Business   tv                 Reality-TV
21906  Cold Case: The Tylenol Murders   tv         Crime, Documentary
21907                             NaN   tv  Animation, Crime, Mystery
21908                             NaN   tv                        NaN
21909                       Entrapped   tv      Crime, Drama, Mystery

       releaseYear      imdbId  imdbAverageRating  imdbNumVotes  \
21905         2025  tt32249973                4.9         233.0
21906         2025  tt36614653                6.5        2167.0
21907         1996         NaN                NaN           NaN
21908         2014         NaN                NaN           NaN
21909         2022  tt21964626                7.0        4061.0

      availableCountries
21905                NaN
21906                NaN
21907                NaN
21908                NaN
21909                NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21910 entries, 0 to 21909
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               21182 non-null  object
 1   type                21910 non-null  object
 2   genres              21541 non-null  object
 3   releaseYear         21871 non-null  float64
 4   imdbId              20274 non-null  object
 5   imdbAverageRating   20096 non-null  float64
 6   imdbNumVotes        20096 non-null  float64
 7   availableCountries  154 non-null    object
dtypes: float64(3), object(5)
memory usage: 1.3+ MB

In [7]:
df.describe

<bound method NDFrame.describe of                                 title   type                     genres  \
0                               Ariel  movie       Comedy, Crime, Drama
1                 Shadows in Paradise  movie       Comedy, Drama, Music
2                        Forrest Gump  movie             Drama, Romance
3                     American Beauty  movie                      Drama
4                   The Fifth Element  movie  Action, Adventure, Sci-Fi
...                               ...    ...                        ...
21905      Cheat: Unfinished Business     tv                 Reality-TV
21906  Cold Case: The Tylenol Murders     tv         Crime, Documentary
21907                             NaN     tv  Animation, Crime, Mystery
21908                             NaN     tv                        NaN
21909                       Entrapped     tv      Crime, Drama, Mystery

       releaseYear      imdbId  imdbAverageRating  imdbNumVotes  \
0           1988.0   tt0094675                7.4        9237.0
1           1986.0   tt0092149                7.4        8069.0
2           1994.0   tt0109830                8.8     2390861.0
3           1999.0   tt0169547                8.3     1252487.0
4           1997.0   tt0119116                7.6      528882.0
...            ...         ...                ...           ...
21905       2025.0  tt32249973                4.9         233.0
21906       2025.0  tt36614653                6.5        2167.0
21907       1996.0         NaN                NaN           NaN
21908       2014.0         NaN                NaN           NaN
21909       2022.0  tt21964626                7.0        4061.0

      availableCountries
0                    NaN
1                    NaN
2                    NaN
3                    NaN
4                    NaN
...                  ...
21905                NaN
21906                NaN
21907                NaN
21908                NaN
21909                NaN

[21910 rows x 8 columns]>

# Count the NaN values in DataFrame

In [15]:
print(df.isna().sum())

title                   728
type                      0
genres                  369
releaseYear              39
imdbId                 1636
imdbAverageRating      1814
imdbNumVotes           1814
availableCountries    21756
dtype: int64

In [16]:
##Clean Data 1 - IMDB
#remove select columns
clean_imdb_data = df.drop(columns=["availableCountries", "imdbNumVotes", "imdbId"
])

In [17]:
#consistent column names
clean_imdb_data.rename(columns={'releaseYear': 'Year Released', 'imdbAverageRating': 'IMDB Score'}, inplace=True)

#clean_imdb_data

In [20]:
df = df.dropna().reset_index(drop=True)

In [21]:
print(df)

                                                 title   type  \
0                                  Like Stars on Earth  movie
1                              Jaane Tu... Ya Jaane Na  movie
2                    Lagaan: Once Upon a Time in India  movie
3                               QuerÃ´: A Damned Report  movie
4               Captain Underpants: Epic Choice-o-Rama  movie
..                                                 ...    ...
99   The Woman in the Septic Tank 3: The Real Untol...     tv
100                                       Trivia Quest     tv
101                                       Battle Kitty     tv
102                                      Sunshine Eyes     tv
103                  Das Boot - Die komplette TV-Serie     tv

                           genres  releaseYear      imdbId  imdbAverageRating  \
0                   Drama, Family       2007.0   tt0986264                8.3
1          Comedy, Drama, Romance       2008.0   tt0473367                7.4
2           Drama, Musical, Sport       2001.0   tt0169102                8.1
3                           Drama       2007.0   tt0945383                6.8
4    Action, Adventure, Animation       2020.0  tt11604750                5.8
..                            ...          ...         ...                ...
99                Comedy, Romance       2019.0  tt10573750                7.1
100  Adventure, Animation, Family       2022.0  tt18393972                5.7
101  Action, Adventure, Animation       2022.0  tt10050740                6.1
102                         Drama       2023.0  tt16026154                6.9
103                    Drama, War       1987.0  tt30970892                8.9

     imdbNumVotes                                 availableCountries
0        219524.0                                                 TZ
1         28977.0                                                 TZ
2        124775.0                                                 TZ
3           436.0                                             BR, PT
4           205.0  AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, BE...
..            ...                                                ...
99           73.0                                                 PH
100         282.0  AD, AG, AO, AR, AT, AU, AZ, BA, BB, BG, BM, BO...
101         373.0  AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, BE...
102          12.0                                         AT, DE, LI
103         256.0                                     AT, CH, DE, LI

[104 rows x 8 columns]

In [24]:
df.dtypes

title                  object
type                   object
genres                 object
releaseYear           float64
imdbId                 object
imdbAverageRating     float64
imdbNumVotes          float64
availableCountries     object
dtype: object

In [26]:
df.sort_values(by='title', ascending=False)

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
94,Ã‡ember,tv,"Action, Adventure, Crime",2017.0,tt7130992,7.2,1015.0,TR
13,Zwei Tage Hoffnung,movie,Drama,2003.0,tt0367263,6.1,147.0,"AT, CH, DE"
84,Zbrodnia,tv,"Action, Crime",2014.0,tt4173216,6.3,869.0,"AE, AL, AO, AR, AT, AU, AZ, BA, BB, BE, BG, BH..."
31,Women at War,movie,"Documentary, History",2014.0,tt4180082,7.9,158.0,"BE, CH, FR, GF, LU, MC, NL, PF"
21,Win It All,movie,Comedy,2017.0,tt3155328,6.2,10439.0,TZ
...,...,...,...,...,...,...,...,...
48,Amsterdam to Anatolia,movie,Short,2019.0,tt10350570,4.6,146.0,"AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, BE..."
28,Alaska Is a Drag,movie,Drama,2017.0,tt4341390,6.6,562.0,FJ
12,A Complicated Story,movie,Drama,2013.0,tt3503902,5.4,129.0,"AU, HK, ID, IN, JP, KR, MY, NZ, PH, PK, SG"
16,7/24,movie,"Drama, Romance",2014.0,tt4277296,6.6,125.0,"ID, TH"
26,40 Hari Bangkitnya Pocong,movie,Horror,2008.0,tt1190088,4.9,69.0,ID

In [27]:
df=df.drop_duplicates(subset='title', keep='first')

In [28]:
df

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
0,Like Stars on Earth,movie,"Drama, Family",2007.0,tt0986264,8.3,219524.0,TZ
1,Jaane Tu... Ya Jaane Na,movie,"Comedy, Drama, Romance",2008.0,tt0473367,7.4,28977.0,TZ
2,Lagaan: Once Upon a Time in India,movie,"Drama, Musical, Sport",2001.0,tt0169102,8.1,124775.0,TZ
3,QuerÃ´: A Damned Report,movie,Drama,2007.0,tt0945383,6.8,436.0,"BR, PT"
4,Captain Underpants: Epic Choice-o-Rama,movie,"Action, Adventure, Animation",2020.0,tt11604750,5.8,205.0,"AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, BE..."
...,...,...,...,...,...,...,...,...
99,The Woman in the Septic Tank 3: The Real Untol...,tv,"Comedy, Romance",2019.0,tt10573750,7.1,73.0,PH
100,Trivia Quest,tv,"Adventure, Animation, Family",2022.0,tt18393972,5.7,282.0,"AD, AG, AO, AR, AT, AU, AZ, BA, BB, BG, BM, BO..."
101,Battle Kitty,tv,"Action, Adventure, Animation",2022.0,tt10050740,6.1,373.0,"AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, BE..."
102,Sunshine Eyes,tv,Drama,2023.0,tt16026154,6.9,12.0,"AT, DE, LI"
103,Das Boot - Die komplette TV-Serie,tv,"Drama, War",1987.0,tt30970892,8.9,256.0,"AT, CH, DE, LI"

Import Data:

In [ ]:
Second_netflix_data = pd.read_csv('./netflix_titles.csv')
Second_netflix_data

Clean Data

In [113]:
clean_imdb_data = First_imdb_data.drop(columns=["availableCountries", "imdbNumVotes", "imdbId"])
clean_imdb_data.rename(columns={'releaseYear': 'Year Released', 'imdbAverageRating': 'IMDB Score'}, inplace=True)

In [114]:
##Clean Data 1 - IMDB
#remove select columns
clean_imdb_data = First_imdb_data.drop(columns=["availableCountries", "imdbNumVotes", "imdbId"
])
#consistent column names
clean_imdb_data.rename(columns={'releaseYear': 'Year Released', 'imdbAverageRating': 'IMDB Score'}, inplace=True)

#clean_imdb_data

In [29]:
print(clean_imdb_data.columns.tolist())

['title', 'type', 'genres', 'Year Released', 'IMDB Score']

In [116]:
##Clean Data 2 - Netflix
#remove select columns
clean_netflix_data = Second_netflix_data.drop(columns=["Unnamed: 0", "show_id", "cast", "country", "date_added", "director"
])
#consistent column names
clean_netflix_data.rename(columns={'release_year': 'Year Released', 'listed_in': 'genres'}, inplace=True)
#clean_netflix_data

In [ ]:
print(clean_netflix_data.columns.tolist())

#First_imdb_data[['rating', 'duration', 'description']] = (
    First_imdb_data[['rating', 'duration', 'description']].fillna('-')
)

#clean_imdb_data = First_imdb_data.copy()
clean_imdb_data[['rating', 'duration', 'description']] = (
    clean_imdb_data[['rating', 'duration', 'description']].fillna('-')
)

#clean_netflix_data = Second_netflix_data[['rating', 'duration', 'description']] = ()
merged_data[['rating', 'duration', 'description']].fillna('-')

In [ ]:
merged_data = pd.concat([clean_imdb_data, clean_netflix_data])
merged_data

In [119]:
##Remove NaNs

In [120]:
merged_data[['rating']] = merged_data[['rating']].fillna('-')

In [121]:
merged_data[['IMDB Score']] = merged_data[['IMDB Score']].fillna('-')

In [122]:
merged_data[['duration']] = merged_data[['duration']].fillna('-')

In [123]:
merged_data[['description']] = merged_data[['description']].fillna('-')

In [124]:
print("Data types before conversion:")
print(merged_data.dtypes)

Data types before conversion:
title             object
type              object
genres            object
Year Released    float64
IMDB Score        object
rating            object
duration          object
description       object
dtype: object

In [125]:
merged_data['Year Released'] = merged_data['Year Released'].astype('Int64')

In [126]:
print("Data types after conversion")
print(merged_data.dtypes)

Data types after conversion
title            object
type             object
genres           object
Year Released     Int64
IMDB Score       object
rating           object
duration         object
description      object
dtype: object

In [127]:
#merged_data[merged_data['title'].duplicated()]

#Remove duplicates

In [ ]:
merged_data = merged_data.sort_values(by='description', ascending=False)

merged_data = merged_data.drop_duplicates(subset='title', keep='first')

merged_data

In [129]:
# Verify numbers
# 30717 total rows before this
#  5420 duplicates
# 25297 rows now
# the math works

In [ ]:
#We can tidy that column name to be more consistent
merged_data.rename(columns={
    'title' : 'Title',
    'type': 'Type', 
    'genres': 'Genres', 
    'rating' : 'Rating',
    'duration' : 'Duration', 
    'description' : 'Description'}, inplace=True)
merged_data

In [141]:
import sqlite3

In [132]:
conn = sqlite3.connect('merged_data.csv')
cursor = conn.cursor()

In [139]:
df = pd.read_csv
('merged_data')

'merged_data'

In [ ]:
import sqlite3

# Connect to database
conn = sqlite3.connect("my_database.db")
cursor = conn.cursor()

# Select only rows where Type is 'Movie'
cursor.execute("""
SELECT Type = 'Movie'
FROM merged_data
WHERE type = 'Movie';
""")

movies_only = cursor.fetchall()

In [ ]:
# Create SQLite database and tables
conn = sqlite3.connect("example.db")
cursor = conn.cursor()

# Create tables movies_data
cursor.execute("""
CREATE TABLE IF NOT EXISTS employees (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    department_id INTEGER NOT NULL,
    hire_date TEXT NOT NULL
);
""")

# Create tables TV show_data
cursor.execute("""
CREATE TABLE IF NOT EXISTS departments (
    department_id INTEGER PRIMARY KEY,
    name TEXT NOT NULL
);
""")

# Insert data into tables
employees_df.to_sql("employees", conn, if_exists="replace", index=False)
departments_df.to_sql("departments", conn, if_exists="replace", index=False)

# Verify data was inserted
print("Employees Table:\n")
print(pd.read_sql_query("SELECT * FROM employees", conn))

print("\nDepartments Table:\n")
print(pd.read_sql_query("SELECT * FROM departments", conn))

In [146]:
# Create DataFrames
Movies_df = pd.DataFrame[('merged_data'), ('Type' - Movie). ('Type' = Movies_df)]
##TV_df = pd.DataFrame('merged_data'), (Type - TV show). TV_data)

SyntaxError: invalid syntax (1308946437.py, line 2)

In [134]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS movies (
    title TEXT NOT NULL,
    type TEXT NOT NULL,
    Year Released INTEGER PRIMARY KEY,
    genres TEXT NOT NULL
);
""")

conn.commit()

#Insert data into tables

#df.to_sql("movies", conn, if_exists="replace", index=False)

In [135]:
#Create SQLITE database and tables

conn = sqlite3.connect("merged_data.db")
cursor = conn.cursor()

# Create TV Shows table

In [136]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS TV_Shows (
    title TEXT NOT NULL,
    type TEXT NOT NULL,
    Year_Released INTEGER PRIMARY KEY,
    genres TEXT NOT NULL
);
""")

conn.commit()

#insert data into tables

In [137]:
merged_data. to_sql("movie", conn, if_exists="replace", index=False)

25297

In [138]:
print("movie Data Table: \n")

movie Data Table:

Visualizations